@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;800&family=Rye&display=swap');

/* Remove default margins, padding, and borders */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Nanum Myeongjo', serif;
    margin: 0 auto;
    background-color: #f5cac2;
    color: #303179;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------- HEADING STYLES -------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
h1 {
    font-family: 'Rye', cursive;
    text-align: center;
    margin-top: 50px;
}

/* ICONS STYLES */
#icons {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 60px;
}

.fa-solid {
    display: flex;
    margin: auto 100px;
    cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------- GAME CONTAINER STYLES ----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* https: //www.w3schools.com/css/css3_flexbox_container.asp */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#guesses {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* SPOT STYLES */
.row {
    display: flex;
    margin-bottom: 10px;
}

.spot {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #f5cac2;
    box-shadow: 0 0 18px 0 #303179;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;

}

/* KEYBOARD STYLES */
#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 60%;
}

.keyboard_row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #f5cac2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px 0 #303179;
    border-radius: 5px;
    font-weight: 800;

}

.key:hover {
    background-color: #e0e0e0;
}

.key.enter {
    width: 100px;
}

.key.backspace {
    width: 100px;
}

#guesses,
#keyboard {
    display: flex;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*---------------------------- WINDOWS STYLES --------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#setting-window,
#info-window,
#statistic-window,
#win,
#lose {
    border-radius: 10px;
    box-shadow: 0 0 60px 0 #303179;
    width: 30%;
    height: 500px;
    margin-top: 20px;
    position: relative;
}

/* HIDE WINDOWS */
#setting-window {
    display: none;
}

#info-window {
    display: none;
}

#statistic-window {
    display: none;
}

#win {
    display: none;
}

#lose {
    display: none;
}

/* BUTTON STYLES */
/* Love Running Project (https://ameennoor.github.io/love-running/) */
button {
    position: relative;
    top: 25%;
    left: 36%;
    text-align: center;
    background-color: #f16c6b;
    color: #fafafa;
    margin: 40px auto;
    border-radius: 8px;
    padding: 15px 32px 15px 32px;
    box-shadow: 0 0 20px 0 #ed7966;
}

button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

.fa-circle-xmark {
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
    transform: translateX(100px);
    /* https://www.w3schools.com/css/css3_2dtransforms.asp */
}

h2,
p {
    padding-top: 30px;
    text-align: center;
}

ul {
    padding-top: 30px;
}

li {
    left: 10px;
}

label {
    position: absolute;
    top: 20%;
    left: 45%;
}

/* SWITCH STYLES */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303179;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f5cac2;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f5cac2;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}